<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="purple"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="tutorial/create" class="nav-link" routerLinkActive="active">
          Create Tutorial
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="tutorial" class="nav-link" routerLinkActive="active">
          See All Tutorials
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
