<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Tutorial Name</label>
          <input type="text" class="form-control" 
            formControlName="TutorialName" 
            #TutorialName />
        </div>
        <div *ngIf="angForm.controls['TutorialName'].invalid && (angForm.controls['TutorialName'].dirty || angForm.controls['TutorialName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['TutorialName'].errors.required">
            Tutorial Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Tutorial Text </label>
          <textarea class="form-control" rows = 50 cols = "5"
          formControlName="TutorialText" 
          #TutorialText></textarea>
        </div>
        <div *ngIf="angForm.controls['TutorialText'].invalid && (angForm.controls['TutorialText'].dirty || angForm.controls['TutorialText'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['TutorialText'].errors.required">
            Tutorial Text is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">ID of question</label>
          <input type="text" class="form-control" 
            formControlName="IDquestion" 
            #IDquestion
          />
        </div>
        <div *ngIf="angForm.controls['IDquestion'].invalid && (angForm.controls['IDquestion'].dirty || angForm.controls['IDquestion'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['IDquestion'].errors.required">
            ID of question is required.
          </div>
        </div>
        <div class="form-group">
          <button (click) = "addTutorial(TutorialName.value, TutorialText.value, IDquestion.value)"
           type="submit" class="btn btn-primary"
          [disabled]="angForm.pristine || angForm.invalid" >
            Create Question
          </button>
        </div>
      </form>
    </div>
  </div>